doctype html
html( lang="en" )  
    head
        include ./includes/auth-head

    body
        main.container(role='main')
            .card.card-container          
                if(error)
                    div.error-box= error

                if(success)
                    div.success-box= success
                    
                // /card-container

    // /.container

    include ./includes/auth-foot