doctype html
html( lang="en" )  
    head
        include ./includes/auth-head

    body
        main.container(role='main')
            .card.card-container
                p#profile-name.profile-name-card Password Reset
                i#profile-img.fas.fa-user-edit.profile-img-card
                if(error)
                    div.error-box= error
                if(success)
                    div.success-box= success
                form.nadmin-form(action="/recovery", method="post")
                    input(type="hidden", name="_csrf", value= csrfTokenGet())
                    input#inputPassword.form-control(type='password', name='password', placeholder='New Password', required='')
                    input#confirmPassword.form-control(type='password', name='confirmPassword', placeholder='Confirm Password', required='')
                    input#token(type='hidden', name='token', value= token)
                    button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Save New Password
                // /form
                // /card-container


    // /.container

    include ./includes/auth-foot