doctype html
html( lang="en" )  
    head
        include ./includes/auth-head

    body
        main.container(role='main')
            .card.card-container
                p.profile-name-card Account recovery
                i.fas.fa-user-shield.profile-img-card 

                if(error)
                    div.error-box= error
                if(success)
                    div.success-box= success

                form.nadmin-form(action="/forgotpassword", method="post")
                    input(type="hidden", name="_csrf", value= csrfTokenGet())
                    input#inputEmail.form-control(type='email', name='email' placeholder='Email address', required='', autofocus='')
                    button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Reset Now
                // /form
                // /card-container

        // /.container

    include ./includes/auth-foot