doctype html
html( lang="en" )  
    head
        //- all head data including CSS includes
        include ./includes/head
        
    body
        include ./includes/nav
        main.main
            div.container-fluid
                div.row
                    each model in nadminDashModels
                        div.col-sm-6.col-lg-4.col-xl-3.dash-item
                            a.model-block( href= nadminAdminURL + '/' + model.name )
                                h5= model.name
                                p (#{ model.count } #{__("items")})
                            if model.canCreate
                                a.model-create( href= nadminAdminURL + '/' + model.name  + '/create' )
                                    i.fas.fa-plus-circle



    //- all head data including CSS includes
    include ./includes/foot